/*-----------------------------------------------------------------------------------


-----------------------------------------------------------------------------------
    
    CSS INDEX
    ===================
	
    1. Theme Default CSS (body, link color, section etc)
    2. Header Area
    3. Banner Area
    4. About Area
    5. Service Area
    6. Features Area
    7. Download Area
    8. Pricing Area
    9. Testimonial Area
    10. Screenshot Area
    11. Footer Area
        11.1 Contact Form
        11.2 Newsletter
        11.3 Footer
    12. Homepage Blue
    13. Homepage Yellow
    14. Homepage Four
    15. Homepage Five, Homepage Six, Homepage Seven
    16. Homepage Eight
    17. Box Layout
    18. Scroll Up

-----------------------------------------------------------------------------------*/

/*----------------------------------------*/
/*  1. Theme default CSS
/*----------------------------------------*/
* { margin:0; padding:0; }
html, body {height: 100%;}
.floatleft {float:left !important;}
.floatright {float:right !important;}
.floatnone {float:none !important;}
.alignleft {text-align:left !important;}
.alignright {text-align:right !important;}
.aligncenter {text-align:center !important;}
.no-display { display:none; }
.no-margin { margin:0; }
.no-padding { padding:0; }
a:focus, button:focus {outline:0px solid}
input:focus, textarea:focus, .form-control:focus {outline: 0; box-shadow: none; border-color: #fff}
img {
    max-width:100%;
    height:auto;
    border:0; 
    vertical-align:top;
}
.fix {overflow:hidden}
p {}
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 10px;
    font-family: 'Raleway', sans-serif;
}
a {-webkit-transition: all 0.3s ease 0s;transition: all 0.3s ease 0s;text-decoration:none;}
a:hover {
    color: #fff;
    text-decoration: none;
}
a:active, a:hover, a:focus {
  outline: 0 none;
    text-decoration: none
}
ul{
    list-style: outside none none;
    margin: 0;
    padding: 0
}
.clear{clear:both}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
::-webkit-input-placeholder {opacity: 1 !important;filter:alpha(opacity=100)}
:-moz-placeholder {opacity: 1 !important;filter:alpha(opacity=100)}
::-moz-placeholder {opacity: 1 !important;filter:alpha(opacity=100)}
:-ms-input-placeholder {opacity: 1 !important;filter:alpha(opacity=100)}
body {
    color: #2d3e50;
    font-family: 'latoregular';
    font-size: 16px;
    line-height: 24px;
    text-align: left;
}
body.background {
    background: url("../img/background/bg.png") repeat scroll 0 0;
}
.container {
    width: 1200px
}
@font-face {
    font-family: 'latobold';
    src: url('../fonts/lato-bold-webfont.eot');
    src: url('../fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-bold-webfont.woff2') format('woff2'),
         url('../fonts/lato-bold-webfont.woff') format('woff'),
         url('../fonts/lato-bold-webfont.ttf') format('truetype'),
         url('../fonts/lato-bold-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latolight';
    src: url('../fonts/lato-light-webfont.eot');
    src: url('../fonts/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-light-webfont.woff2') format('woff2'),
         url('../fonts/lato-light-webfont.woff') format('woff'),
         url('../fonts/lato-light-webfont.ttf') format('truetype'),
         url('../fonts/lato-light-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latomedium';
    src: url('../fonts/lato-medium-webfont.eot');
    src: url('../fonts/lato-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-medium-webfont.woff2') format('woff2'),
         url('../fonts/lato-medium-webfont.woff') format('woff'),
         url('../fonts/lato-medium-webfont.ttf') format('truetype'),
         url('../fonts/lato-medium-webfont.svg#latomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-regular-webfont.eot');
    src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/lato-regular-webfont.woff') format('woff'),
         url('../fonts/lato-regular-webfont.ttf') format('truetype'),
         url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latosemibold';
    src: url('../fonts/lato-semibold-webfont.eot');
    src: url('../fonts/lato-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-semibold-webfont.woff2') format('woff2'),
         url('../fonts/lato-semibold-webfont.woff') format('woff'),
         url('../fonts/lato-semibold-webfont.ttf') format('truetype'),
         url('../fonts/lato-semibold-webfont.svg#latosemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
.button-white {background: #fff !important}
.button-olive {background: #7a9757 !important; color: #fff !important}
.button-blue {background: #05C2F9 !important; color: #fff !important}
.button-yellow {background: #FDC007 !important; color: #fff !important}
.olive-border {
    border: 1px solid #7a9757 !important;
    line-height: 51px !important;
}
.blue-border {
    border: 1px solid #05C2F9 !important;
    line-height: 51px !important;
}
.yellow-border {
    border: 1px solid #FDC007 !important;
    line-height: 51px !important;
}
.text-white {color: #fff !important}
.section-title, .pricing-area.pricing-four .section-title {margin-bottom: 78px; z-index: 999; position: relative}
.section-title h1 {
    font-size: 36px;
    font-weight: 800;
    line-height: 33px;
    text-transform: uppercase;
    z-index: 99;
    position: relative
}
.section-title h1 span, .about-text h2 span {color: #7a9757}
.section-title.title-blue h1 span, .about-blue .about-text h2 span {color: #05c2f9}
.section-title.title-yellow h1 span, .about-yellow .about-text h2 span {color: #FDC007}
.section-title img {margin-bottom: 24px}
.section-title p {margin-bottom: 0}
/*----------------------
	2. Header Area
------------------------*/
.logo a {display: inline-block}
#main-menu {
    left: 0;
    position: absolute;
    right: 0;
    top: 95px;
    z-index: 999999;
}
#main-menu.stick {
    background: #ffb03f none repeat scroll 0 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    padding: 25px 0;
    position: fixed;
    top: 0;
}
.main-menu {display: inline-block; margin: 8px 0;}
.main-menu nav ul li {display: inline-block}
.main-menu nav ul li a {
    color: #ffffff;
    display: block;
    font-family: "Raleway",sans-serif;
    font-size: 12px;
    font-weight: 800;
    line-height: 26px;
    margin-right: 34px;
    padding: 0 1px;
    position: relative;
    text-transform: uppercase;
}
.main-menu nav ul li a:before {
    background: #7A9757 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 50%;
    position: absolute;
    right: 50%;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-property: left, right;
            transition-property: left, right;
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
    z-index: -1;
}
.main-menu nav ul li a:hover:before, .main-menu nav ul li.active a:before {
    left: 0;
    right: 0;
}
.main-menu nav ul li:last-child a {margin-right: 0}
.main-menu nav ul li.active a, .main-menu nav ul li a:hover {color: #fff}
header .menu-btn {
    float: right;
    font-size: 11px;
    line-height: 27px;
    margin-top: 8px;
    padding: 0 16px;
}
/*--------------------------------------------*/
/*  3. Banner Area
/*--------------------------------------------*/

.container-banner { width: 100%; height: auto; margin: 0px; padding: 0px; }
.bannerani { background: #e9e979;  }

.roboani {
    animation: 3s ease-in-out 0s normal none infinite running bounce;
    display: block;
    position: relative;
    border: none;
    
    transition: all 0.8s ease 0s;
    -webkit-transition:all 0.8s;
    -moz-transition:all 0.8s;
    -o-transition:all 0.8s;
     -moz-box-shadow: 0 0 0 8px rgba(100,190,220,0);
      -o-box-shadow: 0 0 0 8px rgba(100,190,220,0);
     box-shadow: 0 0 0 8px rgba(100,190,220,0);
    -webkit-box-shadow: 0 0 0 8px rgba(100,190,220,0);
}
.logoani {
    animation: 3s ease-in-out 0s normal none infinite running bounceLeft;
    display: inline;
    float: left;
    margin-left: 800px;
    margin-top: -400px;
    position: relative;
    transition: all 0.8s ease 0s;
    -webkit-transition:all 0.8s;
    -moz-transition:all 0.8s;
    -o-transition:all 0.8s;
    
}


.banner-line { border-bottom:4px solid #feb041; display: block;  width: 60%; right: 0;  float: right; z-index: 10;}
.banner-line1 { border-bottom:4px solid #faa732; display: block;  width: 60%; right: 0;  float: right;  margin-top: 6px; z-index: 10; }
.banner-line2 { border-bottom:4px solid #faa225; display: block;  width: 60%; right: 0;  float: right;  margin-top: 6px;  z-index: 10;}
.banner-cloud { background: url(../images/cloud-bg.png) no-repeat bottom right; height: 379px; width: auto; bottom: 0; z-index: 100; }
.banner-cloud-bottom { background: url(../images/cloud-bottom.png) no-repeat bottom left; height: 70px; width: 460px; bottom: 0; position: relative; margin-top: -71px;  }
.rainbow-cloud { background: url(../images/cloud-vec.png) no-repeat top center; height: 200px; width: 260px;  position: absolute; margin-top:36px; display: block; z-index: 10;  }
.banner-cloud-top { background: url(../images/cloud-bottom.png) no-repeat top right; height: 70px; width: 460px; 
    position:  absolute; 
    right: 0;
    top: 0;  
    z-index: 100;
transform: rotate(180deg);
margin-top: -2px;
     }

.banner-cloud-dev { 
    background: url("../images/cloud-computing.png") no-repeat top right; 
    height: 550px; 
    width: 580px; 
    position:  absolute; 
    right: 0;
    top: 0;  
    z-index: 100;
    display: block;
     background-size: 100%;
     
     }
.service-area1 { background: url(../images/cloud-bottom.png) no-repeat bottom left;  bottom: 0; position: relative; margin-top: -46px;  }


@keyframes bounce {
  0%, 100% {
    transform:translateY(0);
  }
  40% {
    transform:translateY(-30px);
  }
  60% {
    transform:translateY(-15px);
  }
}

@keyframes bounceLeft {
0%, 100% {
    transform: translateX(-10px);
}
50% {
    transform: translateX(10px);
}
}

@keyframes fadeOut {
0% {
    opacity: 1;
}
100% {
    opacity: 0;
}
}

@keyframes fadeIn {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}

@keyframes slide {
  0% {
    transform: scale(0, 0) translateY(0);
  }
  15%, 70% {
    transform: scale(1, 1) translateY(0);
  }
  90% {
    transform: scale(1, 1) translateY(600%);
  }
  100% {
    transform: scale(1, 1) translateY(600%);
  }
}
@keyframes size {
  0%, 15% {
    transform: scale(1, 0);
  }
  25%, 100% {
    transform: scale(1, 1);
  }
}
@keyframes zoom {
  0%, 25% {
    transform: scale(0, 0);
  }
  35%, 100% {
    transform: scale(1, 1);
  }
}
@media screen and (max-width: 767px) {

.roboani {
    
    display: block;
    position: relative;
    border: none;
}
.roboani > img { width: 60%; }


.logoani {
   
    display: inline;
    float: nonw;
    margin-left: 150px;
    margin-top: -60px;
    position: relative;
  
    
}
.logoani > img {  width: 80%; }

.banner-area{  background-color: #e9e979;    height: 390px;}

}

@media screen and (max-width: 860px) and (min-width: 768px) {


.roboani > img { width: 50%; }


.logoani {
   
    display: inline;
    float: nonw;
    margin-left: 420px;
    margin-top: -160px;
    position: relative;
  
    
}
.logoani > img {  width: 60%; }

.banner-area{  background-color: #e9e979;    height: 390px;}
.banner-apps {
    margin-left: 30;
    margin-top: -70px;
    position: relative;
}

}

.banner-area {
    background-color: #e9e979;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 890px;
    position: relative;
    z-index: 1;
}
.banner-text {display: table}
.banner-area .container, .banner-area .row, .banner-area .col-lg-7, .banner-area .banner-text, .banner-area .banner-table-cell {
    height: 100%;
}
.banner-area .col-lg-7 {padding-right: 0;}
.banner-product-image {
    margin-top: 40%;
    overflow: hidden;
    position: relative;
    z-index: 9;
}
.banner-table-cell {
    display: table-cell;
    vertical-align: middle;
    z-index: 9;
    position: relative;
}
.banner-text h1 {
    color: #ffffff;
    font-size: 67px;
    font-weight: 800;
    line-height: 72px;
    margin-bottom: 23px;
    text-transform: uppercase;
}
.banner-text h1 span {color: #7a9757}
.banner-text p {color: #ffffff; margin-bottom: 33px}
.button-default {
    background: #fff none repeat scroll 0 0;
    border: 0 none;
    color: #2d3e50;
    display: inline-block;
    font-family: "Raleway",sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 53px;
    padding: 0 31px;
    text-transform: uppercase;
    border-radius: 2px;
    -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s
}
.button-default:hover {
    background-color: #ffffff !important;
    color: #2d3e50 !important;
}
.banner-buttons .button-default {margin-right: 26px}
.banner-buttons a.button-default:hover {
    background-color: #7a9757 !important;
    color: #ffffff !important;
}
.banner-apps {
    margin-left: 72px;
    margin-top: -224px;
    position: relative;
}
.banner-apps .single-app:nth-child(1) {
    left: 0;
    position: absolute;
    top: 122px;
}
.banner-apps .single-app:nth-child(2) {
    left: 183px;
    position: absolute;
    top: 76px;
}
.single-app:nth-child(3) {
    left: 366px;
    position: absolute;
    top: 33px;
}
.single-app {
    background: #7a9757 none repeat scroll 0 0;
    border: 3px solid #ffffff;
    border-radius: 100%;
    display: inline-table;
    height: 100px;
    text-align: center;
    width: 100px;
    -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
    z-index: 99
}
.single-app-table-cell {display: table-cell; vertical-align: middle}
.single-app h4, .single-app h3 {
    color: #ffffff;
    font-family: "latobold";
    font-size: 11px;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.single-app h3 {font-size: 14px}
.single-app i {
    color: #ffffff;
    font-size: 35px;
    margin-bottom: 2px;
}
/*--------------------------------------------*/
/*  4. About Area
/*--------------------------------------------*/
.about-area {padding-top: 114px; background:#f0f0f0;}
.about-area .col-sm-5 {padding-left: 0}
.about-image {margin-right: 45px}
.about-text h2 {
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 19px;
}
.about-text {
    margin-right: 54px;
    margin-top: 70px;
}
.about-text > p {margin-bottom: 25px}
.about-buttons {margin-top: 48px}
.about-buttons button.button-default {margin-right: 26px}
.about-buttons button.button-default {
    border: 1px solid #7a9757;
    line-height: 51px;
}
.about-buttons a.button-default:hover {background-color:#7a9757 !important; color: #fff !important}
.about-area { background: url(../images/cloud-bottom.png) no-repeat bottom left #f0f0f0;  bottom: 0; position: relative; margin-top: -46px;  }
/*--------------------------------------------*/
/*  5. Service Area
/*--------------------------------------------*/
.service-area {
    padding-bottom: 150px !important;
    padding-top: 180px !important;
    position: relative;
    background:transparent !important;
}
.service-area:after {
    background: transparent none repeat scroll 0 0;
    content: "";
    height: 518px;
    left: 0;
    position: absolute;
    top: 10%;
    -webkit-transform: skewY(165deg);
    -ms-transform: skewY(165deg);
    transform: skewY(165deg);
    width: 100%;
    z-index: -1;
}
.single-item-icon {
    background-color: #7a9757;
    border-radius: 36px 36px 0;
    display: inline-table;
    height: 100px;
    margin-bottom: 24px;
    text-align: center;
    width: 100px;
    -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s
}
.single-item-icon i {
    color: #ffffff;
    display: table-cell;
    font-size: 50px;
    vertical-align: middle;
}
.single-item h4 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 24px;
}
.service-area .col-md-4:nth-child(2) {margin-top: -100px}
.service-area .col-md-4:nth-child(3) {margin-top: -200px}
.single-item:hover .single-item-icon {background-color: #2d3e50;}


.service-buttons {margin-top: 48px; text-align: center;}
.service-buttons button.button-default {margin-right: 26px}
.service-buttons button.button-default {
    border: 1px solid #7a9757;
    line-height: 51px;
}
.service-buttons a.button-default:hover {background-color:#7a9757 !important; color: #fff !important}

/*--------------------------------------------*/
/*  6. Features Area
/*--------------------------------------------*/
.features-area {
    background: url("../img/banner/preview.png") ;
    margin-top: -112px;
    padding-top: 35px;
	background-size:63% auto;
	background-position:-11% 67%;
	background-repeat:no-repeat;	
}
.features-area .single-item-text p {margin-bottom: 0}
.features-area .single-item {
    margin-bottom: 96px;
    position: relative;
    z-index: 99;
}
.features-area .single-item-icon {float: left; margin-right: 38px}
.features-area .single-item-text {
    display: block;
    overflow: hidden;
    width: 408px;
}
.features-area .single-item-text h4 {line-height: 21px; margin-bottom: 11px}
.features-area .single-item:first-child, .features-area .single-item:last-child {
    margin-left: -50px
}
.features-area .single-item:nth-child(2), .features-area .single-item:nth-child(4) {
    margin-left: 84px
}
.features-area .single-item:nth-child(3) {margin-left: 121px}
/*--------------------------------------------*/
/*  7. Download Area
/*--------------------------------------------*/
.download-area, .domain-name-area {
    background: url("../img/banner/3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -137px;
    padding-bottom: 348px;
    padding-top: 298px;
    position: relative;
    z-index: 2;
}
.download-area:before, .footer-area:before, .banner-area:before, .domain-name-area:before {
    background-image: url("../img/banner/shape.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    content: "";
    height: 323px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}
.download-area:after, .domain-name-area:after {
    background-image: url("../img/banner/shape.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    content: "";
    height: 323px;
    right: 0;
    position: absolute;
    bottom: -1px;
    width: 100%;
    z-index: 1;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}
.download-bg, .footer-bg {
   /* background: rgba(45, 62, 212, 0.6) none repeat scroll 0 0;*/
    background: rgba(0, 30, 79, 0.5) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.download-area .section-title {margin-bottom: 56px}
.download-button-wrapper {
    text-align: center;
    z-index: 99;
    position: relative;
}
.download-btn span {
    color: #ffffff;
    display: block;
    font-family: "latomedium";
    font-size: 18px;
    line-height: 26px;
    text-align: left;
}
.download-btn span.large-text {
    display: block !important;
    font-family: "latobold";
    font-size: 26px;
    position: relative;
    top: -4px;
}
.download-btn {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #ffffff;
    border-radius: 2px;
    height: 78px;
    margin: 0 21px;
    padding: 0 29px 0 87px;
    position: relative;
    -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
    display: inline-block
}
.download-btn:hover {
    background-color: #7A9757;
    border-color: #7A9757
}
.download-btn i {
    color: #ffffff;
    float: left;
    font-size: 50px;
    left: 22px;
    position: absolute;
    width: 53px;
}
/*--------------------------------------------*/
/*  8. Pricing Area
/*--------------------------------------------*/
.pricing-area {
    margin-top: -44px;
    padding-top: 35px;
}
.pricing-area .section-title {margin-bottom: 112px}
.single-price-package {
    box-shadow: 0 0 20px 1px rgba(35, 31, 32, 0.2);
    text-align: center;
}
.price-title {
    background: #2D3E50 none repeat scroll 0 0;
    padding: 35px 0 34px;
}
.pricing-area .col-sm-4:first-child .single-price-package  {
    margin-left: 60px;
    margin-right: 12px;
}
.pricing-area.pricing-four .col-sm-4:first-child .single-price-package  {margin-left: 0; margin-right: 0}
.pricing-area .col-sm-4:last-child .single-price-package  {
    margin-right: 60px;
    margin-left: 12px;
}
.price-title > h3 {
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 0;
    text-transform: uppercase;
}
.price {
    display: block;
    overflow: hidden;
}
.pricing-area .price > h4, .pricing-area .price > p {
    color: #ecebeb;
    display: inline-block;
    font-family: "Raleway",sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0;
}
.price-title h4 span.text-large {
    color: #ffffff;
    font-size: 60px;
    line-height: 61px;
}
.price .text-top {
    padding-right: 4px;
    position: relative;
    top: -20px;
}
.pricing-area .price > p {
    bottom: -9px;
    position: relative;
}
.price-list {
    padding-bottom: 30px;
    padding-top: 50px;
}
.price-list li {
    color: #2d3e50;
    font-family: "Raleway",sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
}
.price-btn .button {
    background: #2d3e50 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 13px;
    color: #ffffff;
    font-family: "Raleway",sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 39px;
    margin-top: 52px;
    padding: 0 39px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s
}
.price-btn .button:hover {background-color: #7a9757;}
.list-large .price-title > h3 {
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 2px;
}
.pricing-area .list-large .price > h4, .pricing-area .list-large .price > p {font-size: 20px}
.list-large .price-title h4 span.text-large {
    font-size: 70px;
    line-height: 71px;
}
.list-large .price .text-top {
    padding-right: 0;
    top: -23px;
}
.list-large .price-title {padding: 37px 0 40px}
.pricing-area .single-price-package.list-large {
    box-shadow: 0 0 20px 1px rgba(35, 31, 32, 0.4);
    margin: -34px 16px 0;
}
.list-large .price-list li {line-height: 39px}
/*--------------------------------------------*/
/*  9. Testimonial Area
/*--------------------------------------------*/
.testimonial-area {padding-top: 127px}
.testimonial-image-slider {margin-top: 5px}
.slick-list {margin: 0 5px}
.sin-testiImage {
    display: inline-block;
    margin-bottom: 11px;
    outline: medium none;
}
.sin-testiImage img {
    border: 1px solid #7a9757;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block !important;
    height: 97px;
    margin-bottom: 30px;
    margin-top: 36px;
    outline: 0 none;
    width: 97px;
}
.sin-testiImage.slick-current img {
    height: 170px;
    margin-top: 0;
    opacity: 1;
    filter:alpha(opacity=100);
    width: 170px;
    border: 3px solid #7a9757;
}
.testimonial-text-slider h2 {
    display: block;
    font-size: 25px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 1px;
    text-transform: uppercase;
}
.testimonial-text-slider {
    background: #f0f0f0 none repeat scroll 0 0;
    border-radius: 7px;
    margin: auto;
    padding: 30px 55px 4px;
    position: relative;
    width: 71%;
    z-index: 9;
}
.testimonial-text-slider:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #f0f0f0;
    -webkit-border-image: none;
         -o-border-image: none;
            border-image: none;
    border-style: solid;
    border-width: 22px 13px;
    content: "";
    height: 0;
    left: 50%;
    margin-left: -13px;
    position: absolute;
    top: -44px;
    width: 0;
}
.sin-testiText{outline: none}
.sin-testiText p {margin-bottom: 32px}
.client-rating {margin-bottom: 5px}
.client-rating i {
    color: #7d7d7d;
    font-size: 18px;
}
.client-rating i.color {color: #f1c30d}
.slick-prev, .slick-next {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 25px;
    outline: medium none;
    padding: 0;
    position: absolute;
    top: 34.6%;
    width: 16px;
}
.slick-prev {left: -31px}
.slick-next {right: -31px}
.slick-prev:before, .slick-next:before {
    height: 25px;
    width: 16px;
    left: 0;
    top: 0;
    position: absolute;
    color: #2d3e50;
    content: "";
    font-family: "Material-Design-Iconic-Font";
    font-size: 50px !important;
    -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s
}
.slick-prev:hover:before, .slick-next:hover:before {color: #7a9757}
.slick-next:before {
    right: 0; 
    content: "";
}
/*--------------------------------------------*/
/*  10. Screenshot Area
/*--------------------------------------------*/
.screenshots-area {padding-top: 117px; padding-bottom: 117px;}
.sin-screenshot {z-index: 9}
.sin-screenshot a {display: block; position: relative}
.sin-screenshot a:before {
    background: #24141e none repeat scroll 0 0;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0.6;
    filter:alpha(opacity=60);
    position: absolute;
    right: 0;
    top: 0;
}
.sin-screenshot a:hover:before {opacity: 0.2;filter:alpha(opacity=20)}
#screenshot-carousel {z-index: 9;}
/*--------------------------------------------*/
/*  11. Footer Area
/*--------------------------------------------*/
.footer-area {
    background-image: url("../img/banner/4.jpg");
	background-size:cover;
	background-position:center top;
	background-repeat:no-repeat;
    margin-top: -42px;
    padding-bottom: 118px;
    padding-top: 262px;
    position: relative;
    z-index: 1;
}
/*--------------------------------------------*/
/*  11.1 Contact Form
/*--------------------------------------------*/
.footer-area h3 {
    color: #ffffff;
    font-size: 28px;
    font-weight: 800;
    line-height: 20px;
    text-transform: uppercase;
}
form#contact-form {
    margin-right: 21px;
    margin-top: 46px;
}
.form-control {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #ffffff;
    border-radius: 8px;
    box-shadow: none;
    color: #cccccc;
    height: 42px;
    margin-bottom: 3px;
    padding: 8px 17px;
}
textarea.form-control {
    height: 99px;
    resize: none;
}
.submit-form .button {
    background-color: #7a9757;
    border-radius: 7px;
    color: #ffffff;
    font-family: "latomedium";
    height: 44px;
    margin-top: 21px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
    width: 100%;
    border: 0
}
.submit-form .button:hover, .footer-blue .submit-form .button:hover, .footer-yellow .submit-form .button:hover {
    background-color: #fff;
    color: #2d3e50;
}
.contact-icon {
    background-color: #7a9757;
    border-radius: 21px 21px 0;
    color: #ffffff;
    display: inline-table;
    float: left;
    height: 54px;
    margin-right: 24px;
    text-align: center;
    width: 54px;
    -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s
}
.single-contact-info:hover .contact-icon {background-color: #fff; color: #2D3E50} 
.contact-icon i {
    display: table-cell;
    font-size: 30px;
    vertical-align: middle;
}
.contact-text > span {
    color: #eeeeee;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}
.single-contact-info {
    margin-bottom: 26px;
    overflow: hidden;
}
.contact-text {display: inline-block}
.conatct-info {margin-top: 52px}
/*--------------------------------------------*/
/*  11.2 Newsletter
/*--------------------------------------------*/
.newsletter > h3 {margin-bottom: 23px}
.newsletter {margin-top: 105px}
.newsletter-content > input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #ffffff;
    border-radius: 9px;
    color: #a3a3a3;
    font-family: "latosemibold";
    font-size: 14px;
    height: 49px;
    padding: 0 19px;
    width: 100%;
}
.newsletter-content {
    margin-top: 38px;
    position: relative;
}
.newsletter-content .button {
    border: 0 none;
    border-radius: 9px;
    color: #2d3e50;
    font-family: "latosemibold";
    font-size: 16px;
    height: 100%;
    position: absolute;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
    width: 29.5%;
}
.newsletter-content .button:hover {
    background-color: #7a9757;
    color: #ffffff;
}
/*--------------------------------------------*/
/*  11.3 Footer
/*--------------------------------------------*/
.footer-links a {
    border: 1px solid #fafbfb;
    border-radius: 100%;
    color: #ffffff;
    display: inline-table;
    font-size: 20px;
    height: 36px;
    margin: 0 6.5px;
    -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
    width: 36px;
}
.footer-links a i {
    display: table-cell;
    vertical-align: middle;
}
.footer-links a:hover {
    background-color: #7a9757;
    border-color: #7a9757;
}
.footer-links {margin-top: 40px}
.footer-text span {color: #cccccc}
.footer-text {margin-top: 23px}
.footer-text span a {color: #cccccc}
.footer-text span a:hover {
    border-bottom: 1px solid #7a9757;
    color: #7a9757;
}

/*--------------------------------------------*/
/*  13. Homepage Yellow
/*--------------------------------------------*/
.header-yellow .main-menu nav ul li a:before {background: #FDC007}
.banner-yellow .banner-text h1 span, .testimonial-yellow .slick-prev:hover:before, .testimonial-yellow .slick-next:hover:before {
    color: #FDC007
}
.banner-yellow .banner-buttons a.button-default:hover {background: #FDC007 none repeat scroll 0 0 !important}
.banner-yellow .single-app, .service-yellow .single-item-icon, .features-yellow .single-item-icon, .footer-yellow .contact-icon, .footer-yellow .submit-form .button, .footer-yellow .newsletter-content .button:hover {
    background-color: #FDC007
}
.about-yellow .about-buttons button.button-default {border: 1px solid #FDC007;}
.about-yellow .about-buttons a.button-default:hover {
    background-color: #FDC007 !important;
    color: #ffffff !important;
}

.service-yellow .service-buttons button.button-default {border: 1px solid #FDC007;}
.service-yellow .service-buttons a.button-default:hover {
    background-color: #FDC007 !important;
    color: #ffffff !important;
}

.features-area.features-yellow {
    background: url("../img/banner-yellow/preview.png");
    background-repeat: no-repeat;
    background-position: -11% 67%;
    background-size: 63% auto;
}
.download-yellow .download-btn:hover, .pricing-yellow .price-btn .button:hover, .footer-yellow .footer-links a:hover {
    background-color: #FDC007;
    border-color: #FDC007;
}
.testimonial-yellow .sin-testiImage.slick-current img, .testimonial-yellow .sin-testiImage img {
    border-color: #FDC007;
}
.footer-yellow .footer-text span a:hover {
    border-bottom: 1px solid #FDC007;
    color: #FDC007;
}

/*-------------------------------------------------*/
/*  15. Homepage Five, Homepage Six, Homepage Seven
/*-------------------------------------------------*/
.banner-area.banner-horizontal::before {
    background-color: #ffffff;
    background-image: inherit;
    height: 142px;
}
.banner-horizontal .banner-apps .single-app {top: 30px;}
.service-area.horizontal .col-md-4:nth-child(2), .service-area.horizontal .col-md-4:nth-child(3) {margin-top: 0;}
.about-area.horizontal {padding: 85px 0;}
.service-area.hidden-xs.horizontal {
    background-color: #f0f0f0;
    padding-bottom: 70px;
    padding-top: 85px;
}
.features-area.hidden-xs.horizontal {
    margin-top: 0;
    padding-bottom: 60px;
    padding-top: 82px;
}
.download-area.horizontal::before, .download-area.horizontal::after, .footer-area.horizontal::before, .banner-area.horizontal::before, .domain-name-area.horizontal::before, .service-area.horizontal::after {
    display: none;
}
.download-area.horizontal {
    margin-top: 0;
    padding-bottom: 85px;
    padding-top: 80px;
}
.features-area.horizontal .single-item:last-child {margin-bottom: 0;}
.pricing-area.horizontal {
    margin-top: 0;
    padding-top: 81px;
}
.testimonial-area.horizontal {padding-top: 82px;}
.screenshots-area.horizontal {padding-top: 82px;}
.footer-area.horizontal {
    margin-top: 80px;
    padding-bottom: 82px;
    padding-top: 82px;
}

/*--------------------------------------------*/
/*  17. Box Layout
/*--------------------------------------------*/
.container-wrapper {
    box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.2);
    margin: auto;
    width: 1200px;
    background: #fff
}
.header-box-layout #main-menu.stick {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    box-shadow: none;
    padding: 0;
}
.header-box-layout #main-menu.stick .container {
    background: #2d3e50 none repeat scroll 0 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    padding: 25px 15px;
}
.box-layout {padding: 0 15px;}
.box-layout .banner-apps {margin-top: -246px;}
.box-layout .banner-text h1 {font-size: 66px;}
.service-box-layout, .about-four.about-box-layout, .box .pricing-area.pricing-four, .box .domain-name-area, .box .footer-area {
    padding-left: 15px;
    padding-right: 15px;
}
.banner-horizontal.box-layout .banner-apps {margin-top: -226px;}
.box .footer-area:before {height: 295px}
/*--------------------------------------------*/
/*  18. Scroll Up
/*--------------------------------------------*/
#scrollUp {
    background: #2D3E50 none repeat scroll 0 0;
    bottom: 35px;
    color: #ffffff;
    right: 12px;
    cursor: pointer;
    height: 40px;
    line-height: 38px;
    position: fixed;
    text-align: center;
    -webkit-transition: all 4ms linear 0s;
            transition: all 4ms linear 0s;
    width: 40px;
    z-index: 9999;
    font-size: 27px;
    border: 1px solid #2D3E50
}
#scrollUp:hover {background-color: #fff; color: #2D3E50}